### Conexão com o banco de dados

In [26]:
import pandas as pd
import psycopg2 as pg

In [ ]:
# Conectar com o Banco de Dados
param = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': 'amorzinho',
    'host': 'localhost',
    'port': '5432'
}

try:
    conx = pg.connect(**param)
    print("Conexão estabelecida com Sucesso.")
except:
    print(f"Erro ao conectar com o banco")

Conexão estabelecida com Sucesso.

### Cria novas tabelas dentro do Banco de Dados

In [28]:
# Cria nova tabela chamada "Voluntários"

try:
    cursor = conx.cursor()
    cursor.execute("""
        CREATE TABLE Voluntario (
            ID SERIAL PRIMARY KEY,
            Nome VARCHAR(100) NOT NULL,
            Email VARCHAR(100),
            Telefone VARCHAR(15),
            Disponibilidade VARCHAR(50),
            ID_Usuario INT NOT NULL,
            FOREIGN KEY (ID_Usuario) REFERENCES Usuario(ID)
        );
    """)
    conx.commit()
    print("Tabela criada com sucesso!")
    

except:
    cursor.execute('ROLLBACK')
    print("A tabela não pode ser criada")

Tabela criada com sucesso!

In [29]:
try:
    cursor = conx.cursor()
    cursor.execute("""
        CREATE TABLE Evento (
        ID SERIAL PRIMARY KEY,
        Nome VARCHAR(100) NOT NULL,
        Data TIMESTAMP NOT NULL,
        Localizacao VARCHAR(255),
        Descricao TEXT,
        ID_ONG VARCHAR(100),
        FOREIGN KEY (ID_ONG) REFERENCES ONG(Nome)
        );
    """)
    print("Tabela criada com sucesso!")
    conx.commit()

except:
    cursor.execute('ROLLBACK')
    print("A tabela não pode ser criada")

Tabela criada com sucesso!

### Deleta tabelas dentro do Banco de Dados

In [30]:

try:
    cursor = conx.cursor()
    cursor.execute("drop table if exists Voluntario;")
    conx.commit()
    print("Tabela apagada com sucesso")

except:
    cursor.execute('ROLLBACK')
    print("A tabela não pode ser criada")

Tabela apagada com sucesso

In [31]:
try:
    cursor = conx.cursor()
    cursor.execute("DROP TABLE IF EXISTS Evento;")
    conx.commit()
    print("Tabela apagada com sucesso")

except:
    cursor.execute('ROLLBACK')
    print("A tabela não pode ser criada")

Tabela apagada com sucesso

### Fechar a conexão

In [32]:
cursor.close()
conx.close()