### Importe da Biblioteca e Conexão com o Banco de Dados

In [ ]:
import pandas as pd
import psycopg2 as pg

In [3]:
try:
    conx = pg.connect(database='postgres',
                  host='localhost',
                  user='postgres', 
                  password='amorzinho',
                  port='5432'
                  )
    print("A conexão foi um sucesso")
except: 
    print("A Conexão foi uma falha")

A conexão foi um sucesso

In [4]:
cursor = conx.cursor()

### Inserções na Tabela "Usuario"

In [5]:
# Template pronto para teste.

Nome= "Josival Silva"
Email= "Josilva@gmail.com"
Telefone= "(85) 98100-2842"
Estado_Social= "Baixa_renda"
Localizacao= "Rua da Santa Helena, casa 22"

In [7]:
# Template pronto para teste.

Nome= "Helena Maria"
Email= "HelenMary@gmail.com"
Telefone= "(64) 4410-8112"
Estado_Social= "Media_renda"
Localizacao= "Rua Edivaldo Cruz, apartamento 512 andar 3"

In [ ]:
# Versão que permite o usuário inserir o usuário como desejar.

Nome = input("Digite o nome do Usuario: ")
Email = input("Digite o email:")
Telefone = input("Digite o telefone do usuario:")
Estado_Social = input("Digite o Estado Social do Individuo: ")
Localizacao = input("Digite o Endereço do Individuo: ")

In [8]:
# Inserção na tabela "Usuario"

try:
    cursor.execute('insert into Usuario (Nome, Email, Telefone, Estado_Social, Localizacao) values (%s, %s, %s, %s, %s)',
               (Nome, Email, Telefone, Estado_Social, Localizacao))
    conx.commit()
    print("A adição foi um sucesso.")
except:
    cursor.execute('ROLLBACK')
    print('A adição foi mal sucedida.')

A adição foi um sucesso.

### Inserções na Tabela "ONG"

In [ ]:
# Template pronto para teste.

ongnome= 'NewLife'
responsavel= 'Janna Lacerda'
TelefoneONG= '(82) 1199-8521'
site='www.NewLife.com.br'
Localizacao='Alagoas'
ID_usuario_ong= 8

In [34]:
# Template pronto para teste

ongnome= 'Lagoaviva'
responsavel= 'Inácio Cavalcante'
TelefoneONG= '(22) 8521-1199'
site='www.VivaLagoa.com.br'
Localizacao='Rio de Janeiro'
ID_usuario_ong= 3

In [ ]:
# Inserção personalizada caso o usuário deseje.

ongnome = input("Digite o nome da ONG: ")
responsavel = input("Digite os responsáveis: ")
TelefoneONG = input("Digite o telefone de contato: ")
site = input("Digite o site: ")
Localizacao = input("Digite a localização: ")
id_usuario_ong = int(input("Digite o ID do usuário: "))

In [35]:
# Inserção na tabela

try:
    cursor.execute('insert into ONG (Nome, Responsaveis, Telefone_Contato, Site, Localizacao, ID_Usuario) values (%s, %s, %s, %s, %s, %s)',
                    (ongnome, responsavel, TelefoneONG, site, Localizacao, ID_usuario_ong))
    conx.commit()
    print('A adição foi bem sucedida.')
except: 
    cursor.execute('ROLLBACK')
    print('A adição foi mal sucedida')

A adição foi bem sucedida.

### Inserção na tabela "Restaurante"

In [18]:
cnpj = '12345678000199'
nome_restaurante = 'Restaurante K'
email = 'k@example.com'
telefone = '987654321'
localizacao_restaurante = 'Rio de Janeiro'
especializacao = 'Italiana'
id_usuario_restaurante = 2

In [36]:
cnpj = '98765432000188'
nome_restaurante = 'Restaurante L'
email = 'l@example.com'
telefone = '123456789'
localizacao_restaurante = 'São Paulo'
especializacao = 'Mexicana'
id_usuario_restaurante = 25

In [ ]:
# Inserção personalizada na tabela "Restaurante"

cnpj = input("Digite o CNPJ do restaurante: ")
nome_restaurante = input("Digite o nome do restaurante: ")
email = input("Digite o email: ")
telefone = input("Digite o telefone: ")
localizacao_restaurante = input("Digite a localização: ")
especializacao = input("Digite a especialização: ")
id_usuario_restaurante = int(input("Digite o ID do usuário: "))

In [37]:
try:
    cursor.execute('insert into Restaurante (CNPJ, Nome, Email, Telefone, Localizacao, Especializacao, ID_Usuario) values (%s, %s, %s, %s, %s, %s, %s)',
                   (cnpj, nome_restaurante, email, telefone, localizacao_restaurante, especializacao, id_usuario_restaurante))
    conx.commit()
    print("A adição foi um sucesso.")
except:
    cursor.execute('ROLLBACK')
    print('A adição foi mal sucedida.')

A adição foi um sucesso.

In [ ]:
# Fechar a conexão

cursor.close()
conx.close()